@import '../fonts/stylesheet.css';
.buttonLanguage, .email button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #fff;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 175px;
  position: absolute;
  display: grid;
  grid-template-areas: "logo lang . time email button";
  grid-template-columns: repeat(6, 1fr);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-items: center;
}

.logo {
  grid-area: logo;
  padding-bottom: 25px;
}

.email {
  grid-area: email;
  font-family: "Mont";
  justify-self: start;
}
.email button {
  margin-right: 6px;
}
.email span {
  color: #fdd099;
}

.time {
  grid-area: time;
  font-size: 37px;
  font-family: "Mont";
  padding-right: 34px;
  color: #fdd099;
}

.buttonLanguage {
  margin-left: 16px;
  color: #fdd099;
}

.blockLanguage {
  grid-area: lang;
  padding-left: 32px;
}

.authorization {
  font-family: "Mont";
  font-size: 16px;
  grid-area: button;
  width: 240px;
  height: 60px;
  background: #fdd099;
  border: none;
  margin-right: 30px;
}

.main {
  position: relative;
}

.about {
  background-image: url(../image/about.png);
  width: 100%;
  height: 970px;
  position: relative;
}

.aboutLogo {
  height: 794px;
  width: 640px;
  position: absolute;
  top: 175px;
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutLogo img {
  position: absolute;
  top: -73px;
  right: 87px;
  z-index: 1;
}

.aboutDescription {
  padding: 282px 0 0 318px;
  max-width: 960px;
  position: relative;
}
.aboutDescription h1 {
  font-family: "Mont";
  font-size: 90px;
  line-height: 100px;
  color: #ffffff;
  font-weight: 200;
  margin: 0;
}
.aboutDescription p {
  font-size: 20px;
  line-height: 40px;
  color: #fdd099;
  font-family: "Mont";
  margin: 0;
  margin-top: 72px;
}
.aboutDescription button {
  width: 240px;
  height: 56px;
  background-color: #ed9438;
  padding: 0;
  border: none;
  margin-top: 53px;
  color: #fff;
  font-size: 16px;
  color: #ffffff;
  font-family: "Mont";
  text-align: center;
}

.aboutSlider {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 174px;
  display: flex;
  align-items: end;
  column-gap: 4px;
}
.aboutSlider button {
  opacity: 0.2;
  width: 210px;
  height: 160px;
  background-color: #ffffff;
  font-size: 90px;
  line-height: 100px;
  color: #001514;
  font-weight: 300;
  font-family: "Mont";
  text-align: center;
  border: none;
  padding: 0;
  transition: all 1s;
}
.aboutSlider button:hover {
  background-color: #fdd099;
  opacity: 1;
  transform: translateY(-10px);
  transform: scaleY(1.1);
  transition: all 1s;
}

.navigation {
  height: 795px;
  width: 95px;
  top: 175px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 30px 0;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
}
.navigation li {
  transform: rotate(-90deg);
  box-sizing: border-box;
  width: 120px;
  font-family: "Mont";
  font-size: 16px;
}

.aboutUs {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(3, 500px);
}

.aboutUsDescription {
  padding-left: 69px;
  position: relative;
}
.aboutUsDescription h1 {
  font-size: 24px;
  line-height: 44px;
  color: #001514;
  font-family: "Mont";
  margin: 58px 0 0 21px;
  font-weight: 400;
}
.aboutUsDescription h1 span {
  color: #fdd099;
}
.aboutUsDescription p {
  font-size: 14px;
  line-height: 27px;
  color: #2a2f37;
  font-weight: 300;
  font-family: "Mont";
  margin: 32px 0 0 0;
  max-width: 500px;
}
.aboutUsDescription button {
  color: #fdd099;
  background: none;
  border: none;
  margin: 22px 0 0;
  font-size: 20px;
  padding: 0;
}
.aboutUsDescription button img {
  position: static;
  margin: 2px 9px;
}
.aboutUsDescription img {
  position: absolute;
  top: 45px;
}

.aboutUsVideo {
  position: relative;
  background: url(../image/tube.png) -17px -17px no-repeat border-box;
  border: 17px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUsVideo h2 {
  margin: 0;
  position: absolute;
  bottom: -17px;
  left: -17px;
  background: #fdd099;
  opacity: 0.6;
  width: 426px;
  height: 160px;
  font-size: 40px;
  line-height: 53px;
  color: #001514;
  font-weight: 200;
  font-family: "Mont";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.aboutUsVideo button {
  width: 108px;
  height: 108px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0;
}
.aboutUsVideo button img {
  position: absolute;
  top: 30px;
  left: 40px;
}

.aboutUsList ul {
  list-style: none;
  margin: 65px 0 0 100px;
  padding: 0;
}
.aboutUsList li {
  font-size: 14px;
  line-height: 27px;
  color: #2a2f37;
  font-weight: 300;
  font-family: "Mont";
  position: relative;
  max-width: 490px;
  margin-bottom: 15px;
}
.aboutUsList li img {
  position: absolute;
  left: -30px;
  top: 5px;
}

.aboutUsExpirenceYears {
  height: 50%;
  width: 100%;
  position: relative;
}
.aboutUsExpirenceYears h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
  margin: 49px 0 0 212px;
  height: 50px;
}
.aboutUsExpirenceYears img {
  margin-left: 70px;
}
.aboutUsExpirenceYears p {
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  position: absolute;
  position: absolute;
  margin: 0;
  top: 46px;
  left: 212px;
}
.aboutUsExpirenceYears p span {
  position: absolute;
  font-size: 69px;
  font-weight: 200;
  top: 46px;
  left: 0px;
}

.aboutUsExpirenceDeal {
  height: 50%;
  width: 100%;
  position: relative;
}
.aboutUsExpirenceDeal h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
  position: absolute;
  top: -11px;
  right: 206px;
}
.aboutUsExpirenceDeal img {
  position: absolute;
  right: 66px;
  top: 41px;
}
.aboutUsExpirenceDeal p {
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  top: 35px;
  position: absolute;
  right: 152px;
  width: 110px;
}
.aboutUsExpirenceDeal p span {
  position: absolute;
  font-size: 69px;
  font-weight: 200;
  top: 46px;
  right: 57px;
  width: 205px;
}

.aboutUsBuildingObject {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "img title" "img des" "img .";
  grid-template-columns: 162px;
  column-gap: 50px;
  align-items: end;
  grid-template-rows: 109px 46px 36px;
}
.aboutUsBuildingObject img {
  grid-area: img;
  justify-self: end;
}
.aboutUsBuildingObject h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsBuildingObject p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsBuildingObject p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: 0;
}

.aboutUsBuildingSquare {
  width: 100%;
  height: 50%;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "title img" "des img" ". img";
  grid-template-columns: 433px;
  column-gap: 50px;
  align-items: end;
  grid-template-rows: 98px 46px 36px;
  justify-items: end;
}
.aboutUsBuildingSquare img {
  grid-area: img;
  justify-self: start;
}
.aboutUsBuildingSquare h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsBuildingSquare p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsBuildingSquare p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: -191px;
}

.aboutUsCrane {
  width: 100%;
  height: 100%;
}

.aboutUsIsland {
  grid-column: 1/3;
  overflow: hidden;
  position: relative;
}
.aboutUsIsland::before {
  content: "";
  width: 50%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.aboutUsInvestingDeposit {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "img title" "img des" "img .";
  grid-template-columns: 159px;
  column-gap: 58px;
  align-items: end;
  grid-template-rows: 109px 46px 36px;
}
.aboutUsInvestingDeposit img {
  grid-area: img;
  justify-self: end;
}
.aboutUsInvestingDeposit h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsInvestingDeposit p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsInvestingDeposit p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: 0;
}

.aboutUsInvestingWithdraw {
  width: 100%;
  height: 50%;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "title img" "des img" ". img";
  grid-template-columns: 438px;
  column-gap: 57px;
  align-items: end;
  grid-template-rows: 98px 46px 36px;
  justify-items: end;
}
.aboutUsInvestingWithdraw img {
  grid-area: img;
  justify-self: start;
}
.aboutUsInvestingWithdraw h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsInvestingWithdraw p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsInvestingWithdraw p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: -199px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(2, 500px);
  background: url(../image/advantages.png) no-repeat bottom;
  overflow: hidden;
}
.advantages::before {
  content: "";
  width: 100%;
  height: 100%;
  grid-column: 3/4;
  background: rgba(14, 25, 21, 0.7);
}

.advantagesDescription {
  background: #fff;
  padding: 46px 0 0 70px;
  box-sizing: border-box;
}
.advantagesDescription h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 91px;
  color: #fdd099;
  font-family: "Mont";
  font-weight: 400;
  height: 88px;
}
.advantagesDescription p {
  margin: 0;
  font-size: 14px;
  font-family: "Mont";
  font-weight: 200;
  max-width: 500px;
  line-height: 27px;
}

.advantagesAboutCompany {
  background: rgba(14, 25, 21, 0.7);
  grid-column: 2/4;
  position: relative;
}
.advantagesAboutCompany img {
  position: absolute;
  top: 63px;
  left: 51px;
}
.advantagesAboutCompany h2 {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin: 75px 0 0 81px;
  font-family: "Mont";
  font-weight: 300;
}
.advantagesAboutCompany h2 span {
  color: #fdd099;
}

.advantagesSlider {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 174px;
  display: flex;
  align-items: end;
  column-gap: 4px;
}
.advantagesSlider button {
  opacity: 0.2;
  width: 210px;
  height: 160px;
  background-color: #ffffff;
  font-size: 90px;
  line-height: 100px;
  color: #001514;
  font-weight: 300;
  font-family: "Mont";
  text-align: center;
  border: none;
  padding: 0;
  transition: all 1s;
}
.advantagesSlider button:hover {
  background-color: #fdd099;
  opacity: 1;
  transform: translateY(-10px);
  transform: scaleY(1.1);
  transition: all 1s;
}

.plan {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(2, 500px);
  position: relative;
}
.plan article {
  position: relative;
  width: 100%;
}
.plan article button {
  position: absolute;
  bottom: 40px;
  width: 240px;
  height: 56px;
  background-color: #ed9438;
  border: none;
  left: 200px;
  font-size: 18px;
  color: #fff;
}

.day {
  width: 50%;
  height: min-content;
  display: grid;
  grid-template-areas: "img p" "img n";
  grid-template-columns: 142px;
  grid-template-rows: 58px;
  column-gap: 21px;
  align-items: end;
}
.day img {
  grid-area: img;
  justify-self: end;
  margin-bottom: 21px;
}
.day p {
  grid-area: p;
  font-family: "Mont";
  font-size: 18px;
  margin: 0;
}
.day span {
  grid-area: n;
  font-family: "Mont";
  font-size: 67px;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff3ea;
  width: 212px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number p {
  margin: 36px 0 0;
  font-family: "Mont";
  font-weight: 600;
  color: #fdd099;
  font-size: 18px;
}
.number span {
  font-family: "Mont";
  font-size: 64px;
  color: #fdd099;
}

.description {
  width: 100%;
  display: grid;
  justify-content: center;
  font-family: "Mont";
  align-items: end;
  grid-template-rows: 66px 29px 43px 25px 46px 24px;
}
.description img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.description p {
  margin: 0;
  text-align: center;
}
.description p span {
  color: #fdd099;
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
