@import '../fonts/stylesheet.css';
.buttonLanguage, .email button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #fff;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 175px;
  position: absolute;
  display: grid;
  grid-template-areas: "logo lang . time email button";
  grid-template-columns: repeat(6, 1fr);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-items: center;
}

.logo {
  grid-area: logo;
  padding-bottom: 25px;
}

.email {
  grid-area: email;
  font-family: "Mont";
  justify-self: start;
}
.email button {
  margin-right: 6px;
}
.email span {
  color: #fdd099;
}

.time {
  grid-area: time;
  font-size: 37px;
  font-family: "Mont";
  padding-right: 34px;
  color: #fdd099;
}

.buttonLanguage {
  margin-left: 16px;
  color: #fdd099;
}

.blockLanguage {
  grid-area: lang;
  padding-left: 32px;
}

.authorization {
  font-family: "Mont";
  font-size: 16px;
  grid-area: button;
  width: 240px;
  height: 60px;
  background: #fdd099;
  border: none;
  margin-right: 30px;
}

.main {
  position: relative;
}

.about {
  background-image: url(../image/about.png);
  width: 100%;
  height: 970px;
  position: relative;
}

.aboutLogo {
  height: 794px;
  width: 640px;
  position: absolute;
  top: 175px;
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutLogo img {
  position: absolute;
  top: -73px;
  right: 87px;
  z-index: 1;
}

.aboutDescription {
  padding: 282px 0 0 318px;
  max-width: 960px;
  position: relative;
}
.aboutDescription h1 {
  font-family: "Mont";
  font-size: 90px;
  line-height: 100px;
  color: #ffffff;
  font-weight: 200;
  margin: 0;
}
.aboutDescription p {
  font-size: 20px;
  line-height: 40px;
  color: #fdd099;
  font-family: "Mont";
  margin: 0;
  margin-top: 72px;
}
.aboutDescription button {
  width: 240px;
  height: 56px;
  background-color: #ed9438;
  padding: 0;
  border: none;
  margin-top: 53px;
  color: #fff;
  font-size: 16px;
  color: #ffffff;
  font-family: "Mont";
  text-align: center;
}

.aboutSlider {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 174px;
  display: flex;
  align-items: end;
  column-gap: 4px;
}
.aboutSlider button {
  opacity: 0.2;
  width: 210px;
  height: 160px;
  background-color: #ffffff;
  font-size: 90px;
  line-height: 100px;
  color: #001514;
  font-weight: 300;
  font-family: "Mont";
  text-align: center;
  border: none;
  padding: 0;
  transition: all 1s;
}
.aboutSlider button:hover {
  background-color: #fdd099;
  opacity: 1;
  transform: translateY(-10px);
  transform: scaleY(1.1);
  transition: all 1s;
}

.navigation {
  height: 795px;
  width: 95px;
  top: 175px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 30px 0;
  height: 100%;
  list-style: none;
  box-sizing: border-box;
}
.navigation li {
  transform: rotate(-90deg);
  box-sizing: border-box;
  width: 120px;
  font-family: "Mont";
  font-size: 16px;
}

.aboutUs {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(3, 500px);
}

.aboutUsDescription {
  padding-left: 69px;
  position: relative;
}
.aboutUsDescription h1 {
  font-size: 24px;
  line-height: 44px;
  color: #001514;
  font-family: "Mont";
  margin: 58px 0 0 21px;
  font-weight: 400;
}
.aboutUsDescription h1 span {
  color: #fdd099;
}
.aboutUsDescription p {
  font-size: 14px;
  line-height: 27px;
  color: #2a2f37;
  font-weight: 300;
  font-family: "Mont";
  margin: 32px 0 0 0;
  max-width: 500px;
}
.aboutUsDescription button {
  color: #fdd099;
  background: none;
  border: none;
  margin: 22px 0 0;
  font-size: 20px;
  padding: 0;
}
.aboutUsDescription button img {
  position: static;
  margin: 2px 9px;
}
.aboutUsDescription img {
  position: absolute;
  top: 45px;
}

.aboutUsVideo {
  position: relative;
  background: url(../image/tube.png) -17px -17px no-repeat border-box;
  border: 17px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUsVideo h2 {
  margin: 0;
  position: absolute;
  bottom: -17px;
  left: -17px;
  background: #fdd099;
  opacity: 0.6;
  width: 426px;
  height: 160px;
  font-size: 40px;
  line-height: 53px;
  color: #001514;
  font-weight: 200;
  font-family: "Mont";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.aboutUsVideo button {
  width: 108px;
  height: 108px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0;
}
.aboutUsVideo button img {
  position: absolute;
  top: 30px;
  left: 40px;
}

.aboutUsList ul {
  list-style: none;
  margin: 65px 0 0 100px;
  padding: 0;
}
.aboutUsList li {
  font-size: 14px;
  line-height: 27px;
  color: #2a2f37;
  font-weight: 300;
  font-family: "Mont";
  position: relative;
  max-width: 490px;
  margin-bottom: 15px;
}
.aboutUsList li img {
  position: absolute;
  left: -30px;
  top: 5px;
}

.aboutUsExpirenceYears {
  height: 50%;
  width: 100%;
  position: relative;
}
.aboutUsExpirenceYears h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
  margin: 49px 0 0 212px;
  height: 50px;
}
.aboutUsExpirenceYears img {
  margin-left: 70px;
}
.aboutUsExpirenceYears p {
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  position: absolute;
  position: absolute;
  margin: 0;
  top: 46px;
  left: 212px;
}
.aboutUsExpirenceYears p span {
  position: absolute;
  font-size: 69px;
  font-weight: 200;
  top: 46px;
  left: 0px;
}

.aboutUsExpirenceDeal {
  height: 50%;
  width: 100%;
  position: relative;
}
.aboutUsExpirenceDeal h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
  position: absolute;
  top: -11px;
  right: 206px;
}
.aboutUsExpirenceDeal img {
  position: absolute;
  right: 66px;
  top: 41px;
}
.aboutUsExpirenceDeal p {
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  top: 35px;
  position: absolute;
  right: 152px;
  width: 110px;
}
.aboutUsExpirenceDeal p span {
  position: absolute;
  font-size: 69px;
  font-weight: 200;
  top: 46px;
  right: 57px;
  width: 205px;
}

.aboutUsBuildingObject {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "img title" "img des" "img .";
  grid-template-columns: 162px;
  column-gap: 50px;
  align-items: end;
  grid-template-rows: 109px 46px 36px;
}
.aboutUsBuildingObject img {
  grid-area: img;
  justify-self: end;
}
.aboutUsBuildingObject h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsBuildingObject p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsBuildingObject p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: 0;
}

.aboutUsBuildingSquare {
  width: 100%;
  height: 50%;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "title img" "des img" ". img";
  grid-template-columns: 433px;
  column-gap: 50px;
  align-items: end;
  grid-template-rows: 98px 46px 36px;
  justify-items: end;
}
.aboutUsBuildingSquare img {
  grid-area: img;
  justify-self: start;
}
.aboutUsBuildingSquare h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsBuildingSquare p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsBuildingSquare p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: -191px;
}

.aboutUsCrane {
  width: 100%;
  height: 100%;
}

.aboutUsIsland {
  grid-column: 1/3;
  overflow: hidden;
  position: relative;
}
.aboutUsIsland::before {
  content: "";
  width: 50%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.aboutUsInvestingDeposit {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "img title" "img des" "img .";
  grid-template-columns: 159px;
  column-gap: 58px;
  align-items: end;
  grid-template-rows: 109px 46px 36px;
}
.aboutUsInvestingDeposit img {
  grid-area: img;
  justify-self: end;
}
.aboutUsInvestingDeposit h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsInvestingDeposit p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsInvestingDeposit p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: 0;
}

.aboutUsInvestingWithdraw {
  width: 100%;
  height: 50%;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "title img" "des img" ". img";
  grid-template-columns: 438px;
  column-gap: 57px;
  align-items: end;
  grid-template-rows: 98px 46px 36px;
  justify-items: end;
}
.aboutUsInvestingWithdraw img {
  grid-area: img;
  justify-self: start;
}
.aboutUsInvestingWithdraw h2 {
  grid-area: title;
  margin: 0;
  font-size: 18px;
  line-height: 60px;
  color: #fdd099;
  font-weight: bold;
  font-family: "Mont";
}
.aboutUsInvestingWithdraw p {
  grid-area: des;
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  font-family: "Mont";
  margin: 0;
  position: relative;
}
.aboutUsInvestingWithdraw p span {
  font-size: 69px;
  font-weight: 200;
  position: absolute;
  top: 45px;
  left: -199px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(2, 500px);
  background: url(../image/advantages.png) no-repeat bottom;
  overflow: hidden;
}
.advantages::before {
  content: "";
  width: 100%;
  height: 100%;
  grid-column: 3/4;
  background: rgba(14, 25, 21, 0.7);
}

.advantagesDescription {
  background: #fff;
  padding: 46px 0 0 70px;
  box-sizing: border-box;
}
.advantagesDescription h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 91px;
  color: #fdd099;
  font-family: "Mont";
  font-weight: 400;
  height: 88px;
}
.advantagesDescription p {
  margin: 0;
  font-size: 14px;
  font-family: "Mont";
  font-weight: 200;
  max-width: 500px;
  line-height: 27px;
}

.advantagesAboutCompany {
  background: rgba(14, 25, 21, 0.7);
  grid-column: 2/4;
  position: relative;
}
.advantagesAboutCompany img {
  position: absolute;
  top: 63px;
  left: 51px;
}
.advantagesAboutCompany h2 {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin: 75px 0 0 81px;
  font-family: "Mont";
  font-weight: 300;
}
.advantagesAboutCompany h2 span {
  color: #fdd099;
}

.advantagesSlider {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 174px;
  display: flex;
  align-items: end;
  column-gap: 4px;
}
.advantagesSlider button {
  opacity: 0.2;
  width: 210px;
  height: 160px;
  background-color: #ffffff;
  font-size: 90px;
  line-height: 100px;
  color: #001514;
  font-weight: 300;
  font-family: "Mont";
  text-align: center;
  border: none;
  padding: 0;
  transition: all 1s;
}
.advantagesSlider button:hover {
  background-color: #fdd099;
  opacity: 1;
  transform: translateY(-10px);
  transform: scaleY(1.1);
  transition: all 1s;
}

.plan {
  display: grid;
  grid-template-columns: repeat(3, 640px);
  grid-template-rows: repeat(3, 500px);
  position: relative;
}
.plan article {
  position: relative;
  width: 100%;
}
.plan article > button {
  position: absolute;
  bottom: 40px;
  width: 240px;
  height: 56px;
  background-color: #ed9438;
  border: none;
  left: 200px;
  font-size: 18px;
  color: #fff;
}

.day {
  width: 50%;
  height: min-content;
  display: grid;
  grid-template-areas: "img p" "img n";
  grid-template-columns: 142px;
  grid-template-rows: 58px;
  column-gap: 21px;
  align-items: end;
}
.day img {
  grid-area: img;
  justify-self: end;
  margin-bottom: 21px;
}
.day p {
  grid-area: p;
  font-family: "Mont";
  font-size: 18px;
  margin: 0;
}
.day span {
  grid-area: n;
  font-family: "Mont";
  font-size: 67px;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff3ea;
  width: 212px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number p {
  margin: 36px 0 0;
  font-family: "Mont";
  font-weight: 600;
  color: #fdd099;
  font-size: 18px;
}
.number span {
  font-family: "Mont";
  font-size: 64px;
  color: #fdd099;
}

.description {
  width: 100%;
  display: grid;
  justify-content: center;
  font-family: "Mont";
  align-items: end;
  grid-template-rows: 66px 29px 43px 25px 46px 24px;
}
.description img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.description p {
  margin: 0;
  text-align: center;
}
.description p span {
  color: #fdd099;
}

.offer {
  width: 58%;
  position: relative;
  z-index: 1;
}
.offer p {
  margin: 35px 0 0 72px;
  font-size: 18px;
}
.offer span {
  margin: 0 0 0 73px;
  font-size: 67px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #fff;
}

.offerPlan {
  position: absolute;
  top: 0;
  right: 0;
  background: #ed9438;
  width: 212px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
}

.offerDescription {
  text-align: center;
  width: 390px;
  margin: 65px auto;
  font-size: 24px;
  line-height: 35px;
  position: relative;
  z-index: 1;
}

.offerContainer {
  background: url(../image/sean-pollock-203658-unsplash.png);
}
.offerContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(237, 148, 56, 0.5);
}
.offerContainer .offerSupport {
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 1;
}

.calculator {
  grid-column: 2/4;
  background: rgba(14, 25, 21, 0.7);
  position: relative;
  display: grid;
  grid-template-areas: "calc prof";
  grid-template-columns: repeat(2, 1fr);
}
.calculator::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../image/Finances-scaled.png);
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
.calculator .logo {
  position: absolute;
  top: 40px;
  left: 493px;
}
.calculator > p {
  margin: 59px 0 0 515px;
  font-size: 24px;
  position: absolute;
}
.calculator > p span {
  color: #ed9438;
}

.calculatorContainer {
  grid-area: calc;
  padding: 0 0 0 70px;
  display: grid;
  width: 500px;
  grid-template-rows: 172px 73px 44px 16px 61px 57px;
  align-items: end;
}
.calculatorContainer p {
  margin: 0;
  font-size: 16px;
}
.calculatorContainer .dollar {
  position: relative;
  left: 471px;
  top: 36px;
}
.calculatorContainer select {
  height: 57px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 24px;
  font-family: "Mont";
}
.calculatorContainer select p {
  margin-left: 10px;
  color: #ed9438;
}
.calculatorContainer input {
  height: 57px;
  background: rgba(255, 255, 255, 0.4);
}
.calculatorContainer .sliderMax {
  text-align: end;
  bottom: 91px;
  width: 500px;
}
.calculatorContainer .sliderMin {
  bottom: 53px;
}
.calculatorContainer .sliderMax,
.calculatorContainer .sliderMin {
  position: relative;
  font-size: 12px;
}
.calculatorContainer .slider {
  -webkit-appearance: none;
  width: 500px;
  height: 5px;
  background: #ed9438;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.calculatorContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ed9438;
  cursor: pointer;
}
.calculatorContainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ed9438;
  cursor: pointer;
}

.calculatorProfit {
  grid-area: prof;
  padding-right: 13px;
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-rows: 173px 77px 29px 76px 76px;
}
.calculatorProfit > button {
  height: 58px;
  width: 241px;
  margin-left: 13px;
  font-size: 18px;
  background: #ed9438;
  border: none;
  color: #fff;
}
.calculatorProfit span {
  font-size: 62px;
  font-weight: 300;
  letter-spacing: -0.9px;
  color: #fdd099;
}
.calculatorProfit p {
  font-size: 18px;
  margin: 0;
  color: #ed9438;
}

.map {
  background: url(../image/photo-1512453979798-5ea266f8880c.png);
  height: 1000px;
}

.gorizontalSlider {
  position: relative;
  width: 1720px;
  height: 750px;
  background: rgba(0, 0, 0, 0.5);
}
.gorizontalSlider > img {
  position: absolute;
  top: 70px;
  left: 70px;
}
.gorizontalSlider h2 {
  margin: 0;
  padding: 90px 0 0 90px;
  font-weight: 300;
}
.gorizontalSlider h2 span {
  color: #ed9438;
}
.gorizontalSlider > p {
  margin: 60px 0 0 69px;
  font-size: 18px;
  line-height: 26px;
  max-width: 91%;
}

.horizntalSliderContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 30px;
}
.horizntalSliderContainer::-webkit-scrollbar {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.horizntalSliderContainer::-webkit-scrollbar-track {
  height: 2px;
}
.horizntalSliderContainer::-webkit-scrollbar-thumb {
  background-color: #ed9438;
  height: 2px;
}
.horizntalSliderContainer article {
  width: 429px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
}
.horizntalSliderContainer article .date {
  margin: 97px 0 22px 0;
  font-size: 24px;
  text-align: center;
}
.horizntalSliderContainer article h3 {
  margin: 0 0 22px 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.4px;
}
.horizntalSliderContainer article .text {
  margin: 0;
  max-width: 278px;
  text-align: center;
}
.horizntalSliderContainer article > img {
  position: absolute;
  right: -72px;
  bottom: 145px;
}

body {
  margin: 0;
  font-family: "Mont";
}

/*# sourceMappingURL=style.css.map */
