footer {
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #182b2a;
    height: 500px;

    .footerNav {
        position: relative;

        & .blockLanguage {
            position: absolute;
            top: 67px;
            left: -16px;
            padding: 0;
        }

        .email {
            position: absolute;
            top: 67px;
            left: 172px;
        }

        nav {
            position: absolute;
            bottom: 151px;
            font-size: 25px;
            line-height: 37px;
            width: 100%;
            color: #fff;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: inherit;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-direction: column;
                height: 111px;

                li {
                    >img {
                        margin-right: 21px;
                    }
                }

            }
        }
    }

    .footerAbout {
        display: grid;
        grid-template-rows: 146px 41px 167px 94px;
        grid-template-areas:
            'logo'
            'rights'
            'p';
        justify-items: center;
        align-items: end;

        .logo {
            margin-left: 19px;
        }

        .rights {
            font-size: 15px;
            color: #fff;
        }

        p {
            line-height: 42px;
            font-size: 20px;
            margin: 0;
            text-align: center;
            max-width: 530px;
            color: $mainColor;

        }

        .social {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 155px;
            box-sizing: border-box;

            a {
                border: 1px solid #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    .support {
        display: grid;
        grid-template-rows: 116px 181px 45px;
        grid-template-areas: 'button';
        justify-content: end;
        align-items: end;
        text-align: end;
        .authorization{
            margin: 0;
            justify-self: end;
        }
        p{
            margin: 0;
            font-size: 24px;
            color: #fff;
            span{
                color: $mainColor;
            }
        }
        a{
            font-size: 24px;
            color: $mainColor;
            text-decoration: underline;
        }
    }
}