.map {
    background: url(../image/photo-1512453979798-5ea266f8880c.png);
    height: 1000px;
}

.gorizontalSlider {
    position: relative;
    width: 1720px;
    height: 750px;
    background: rgba($color: #000000, $alpha: .5);

    >img {
        position: absolute;
        top: 70px;
        left: 70px;
    }

    h2 {
        margin: 0;
        padding: 90px 0 0 90px;
        font-weight: 300;

        span {
            color: #ed9438;
        }
    }

    >p {
        margin: 60px 0 0 69px;
        font-size: 18px;
        line-height: 26px;
        max-width: 91%;
    }
}

.horizntalSliderContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    column-gap: 30px;

    &::-webkit-scrollbar {
        width: 100%;
        height: 5px;
        background-color: rgba($color: #000000, $alpha: .5);
    }

    &::-webkit-scrollbar-track {
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ed9438;
        height: 2px;
    }

    article {
        width: 429px;
        display: flex;
        flex-direction: column;
        position: relative;
        flex: 0 0 auto;
        align-items: center;

        .date {
            margin: 97px 0 22px 0;
            font-size: 24px;
            text-align: center;
        }

        h3 {
            margin: 0 0 22px 0;
            text-align: center;
            font-weight: 400;
            letter-spacing: -.4px;
        }

        .text {
            margin: 0;
            max-width: 278px;
            text-align: center;
        }

        >img {
            position: absolute;
            right: -72px;
            bottom: 145px;
        }
    }
}

.gorizontalSliderButtons {
    position: absolute;
    display: flex;
    bottom: -160px;
    right: 0;
    column-gap: 2px;

    >div {
        width: 212px;
        height: 159px;
        background-color: rgba(237, 148, 56, .5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}